ion-toolbar {
    height: 210px;
}

ion-item{
    --inner-padding-bottom: 10px;
    --inner-padding-top: 10px;
    --ripple-color: var(--primary-color);
}

ion-thumbnail {
    --border-radius: 5px;
    width: 120px;
    height: 120px;
}

.item-styling{
    --background: var(--primary-color);
    --color: var(--secondary-color);
}