<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="title">
      Profiles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar (ionChange)="filterList($event)"></ion-searchbar>
  <ion-list>
    <ion-item
      *ngFor="let member of members"
      lines="none"
      button=true
      (click)="clickfun(member.name)">
      <ion-avatar slot="start">
        <img src="{{ member.picture }}">
      </ion-avatar>
      <ion-label text-wrap>
        <ion-text>
          <h2 style="font-weight: bold;"> {{ member.name }} </h2>
        </ion-text>
        <ion-text>
          <p style="color:rgb(100, 100, 100);" [innerHTML]="member.desc"></p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
